
        
            <div id="main-content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Account balance<p>{{dash.iban}}</p></div>
                            <div class="panel-body ">
                                
                                <h1>{{ dash.amount | currency:"USD$":0 }}</h1>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Help center</h3>
                                <p>Our consultants are working at 8AM - 22PM, 7 Days a Week</p>
                                <hr>
                                <btn class="btn btn-warning">Open help center</btn>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"></i>Recent operations</div>
                            <div class="panel-body" style="padding:0">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item">
                                            <div class="row">
                                                <div class="col-xs-10 col-md-10">
                                                    <h5 class="list-group-item-text"> Transfer {{ "2018-05-20T09:05:05.035Z" | date:"fullDate" }}</h5>
                                                    <p class="list-group-item-text"><b>ES01 2345 6789 0123 4567 8901</b></p>
                                                    <h3 class="list-group-item-text"><b> <p class="text-success">      +{{ 230.00 | currency:"USD$":0 }}</p></b></h3>
                                                    <p class="list-group-item-text">Balance: {{ dash.amount | currency:"USD$":0 }}</p>
                                                 
                                                </div>
                                                <div class="col-xs-2 col-md-2">
                                                    <i class="fas fa-arrow-up" style="font-size: 2.5em;;line-height:290%;"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item">
                                                <div class="row">
                                                        <div class="col-xs-10 col-md-10">
                                                            <h5 class="list-group-item-text"> Transfer {{ "2018-05-19T09:05:05.035Z" | date:"fullDate" }}</h5>
                                                            <p class="list-group-item-text"><b>ES26 1000 1789 9843 0000 5091</b></p>
                                                            <h3 class="list-group-item-text"><b><p class="text-danger"> -{{ 170.00 | currency:"USD$":0 }}</p></b></h3>
                                                            <p class="list-group-item-text">Balance: {{ dash.amount-230 | currency:"USD$":0 }}</p>
                                                        
                                                        </div>
                                                        <div class="col-xs-2 col-md-2">
                                                            <i class="fas fa-arrow-down" style="font-size: 2.5em;line-height:290%;"></i>
                                                        </div>
                                                </div>                                      
                                        </a>
                                        <a href="#" class="list-group-item list-group-item">
                                                <div class="row">
                                                        <div class="col-xs-10 col-md-10">
                                                            <h5 class="list-group-item-text"> Transfer {{ "2018-04-29T09:05:05.035Z" | date:"fullDate" }}</h5>
                                                            <p class="list-group-item-text"><b>ES26 1000 1789 9843 0000 5091</b></p>
                                                            <h3 class="list-group-item-text"><b><p class="text-danger"> -{{ 1000.00 | currency:"USD$":0 }}</p></b></h3>
                                                            <p class="list-group-item-text">Balance: {{ dash.amount-60 | currency:"USD$":0 }}</p>
                                                        
                                                        </div>
                                                        <div class="col-xs-2 col-md-2">
                                                            <i class="fas fa-arrow-down" style="font-size: 2.5em;line-height:290%;"></i>
                                                        </div>
                                                </div>                                      
                                        </a>
                                    </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
