<div id="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2>Transfer history</h2>
            <hr>
            <table class="table table-hover">
                <tr class="active">
                    <th>ID</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>From/To</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
                <tr class="success text-success">
                    <td>3</td>
                    <td>In</td>
                    <td>{{ "2018-05-20T09:05:05.035Z" | date:"fullDate" }}</td>
                    <td>ES01 2345 6789 0123 4567 8901</td>
                    <td>+{{ 230.00 | currency:"USD$":0 }}</td>
                    <td>{{ his.amount | currency:"USD$":0 }}</td>
                </tr>
                <tr class="danger text-danger">
                    <td>2</td>
                    <td>Out</td>
                    <td>{{ "2018-05-19T09:05:05.035Z" | date:"fullDate" }}</td>
                    <td>ES26 1000 1789 9843 0000 5091</td>
                    <td>-{{ 170.00 | currency:"USD$":0 }}</td>
                    <td>{{ his.amount-230 | currency:"USD$":0 }}</td>
                </tr>
                <tr class="danger text-danger">
                    <td>1</td>
                    <td>Out</td>
                    <td>{{ "2018-04-29T09:05:05.035Z" | date:"fullDate" }}</td>
                    <td>ES26 1000 1789 9843 0000 5091</td>
                    <td>-{{ 1000.00 | currency:"USD$":0 }}</td>
                    <td>{{ his.amount-60 | currency:"USD$":0 }}</td>
                </tr>
            </table>

        </div>
    </div>
</div>