<div id="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2>Transfer history</h2>
            <hr>
                <p>{{ "2018-05-20T09:05:05.035Z" | date:"fullDate" }}</p>
                <div class="list-group">
                <a class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">In transfer</div>
                        <div class="col-md-3">+{{ 230.00 | currency:"USD$":0 }}</div>
                        <div class="col-md-5">ES01 2345 6789 0123 4567 8901</div>
                        <div class="col-md-1"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
                    </div>
                </a>
                </div>
                <p>{{ "2018-05-19T09:05:05.035Z" | date:"fullDate" }}</p>
                <div class="list-group">
                <a class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">Out transfer</div>
                        <div class="col-md-3">-{{ 170.00 | currency:"USD$":0 }}</div>
                        <div class="col-md-5">ES26 1000 1789 9843 0000 5091</div>
                        <div class="col-md-1"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
                    </div>
                </a>
                </div>
                <p>{{ "2018-04-29T09:05:05.035Z" | date:"fullDate" }}</p>
                <div class="list-group">
                <a class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">Out transfer</div>
                        <div class="col-md-3">-{{ 1000.00 | currency:"USD$":0 }}</div>
                        <div class="col-md-5">ES26 1000 1789 9843 0000 5091</div>
                        <div class="col-md-1"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>