<div id="main-menu">
    <ul>
        <li>
            <a href="#"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#!/newTransfer" ><i class="fas fa-external-link-square-alt"></i> New transfer</a>
        </li>
        <li>
            <a href="#"> <i class="fas fa-history"></i> Transfer history</a>
        </li>
        <li>
            <a href="#"><i class="far fa-money-bill-alt"></i> Payments</a>
        </li>
        <li>
            <a href="#"><i class="far fa-credit-card"></i> Cards</a>
        </li>
        <hr>
        <li>
            <a href="#"><i class="fas fa-envelope"></i>Messages</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>