<div id="main-menu">
    <ul>
        <li>
            <a href="#!/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#!/newTransfer" ><i class="fas fa-external-link-square-alt"></i> New transfer</a>
        </li>
        <li>
            <a href="#!/history"> <i class="fas fa-history"></i> Transfer history</a>
        </li>
        <!--
        <li>
            <a href="#"><i class="far fa-money-bill-alt"></i> Payments</a>
        </li>
        -->
        <li>
            <a href="#!/cards"><i class="far fa-credit-card"></i> Cards</a>
        </li>
        <hr id="separatorMenu">
        <li>
            <a href="#!/dashboard"><i class="fas fa-envelope"></i>Messages</a>
        </li>
        <li>
            <a href="#!/userDetails"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>